.traffic-light {
    width: 17vw;
    height: 55vh;
    border: 2px solid black;
    margin: 1%;
    padding: 1%;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    background-color: #252424;
}

.light-container {
    width: 100%;
    margin: 0 auto;
    padding: 1%;
}

.green {
    background-color: #98fb98;
}

.yellow {
    background-color: #fafa2a;
}

.red {
    background-color: #FF6666;
}

.task-text {
    max-width: 100%;
    line-height: 0;
    padding: 2%;
}