.traffic-light {
    width: 15vw;
    min-height: 55vh;
    border: 2px solid black;
    margin: 3%;
    padding: 1%;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    background-color: #252424;
    font-size: 1.6em;
}

.lights {
    width: 100%;
    margin: 0 auto;
}

.green {
    background-color: #98fb98;
}

.yellow {
    background-color: #fafa2a;
}

.red {
    background-color: #FF6666;
}

.task-text {
    font-size: 1.2vw;
    line-height: 0;
}