.lightbulb {
    display: inline-block;
    width: 9vw;
    height: 14vh;
    padding: 1%;
    border: 2px solid black;
    border-radius: 100%;
}

.green-light {
    background-color: #6abf4f;
}

.green-light:hover {
    background-color: #7eec1e;
}

.yellow-light {
    background-color: #fed921;
}

.yellow-light:hover {
    background-color: #ffff00;
}

.red-light {
    background-color: #e32b1e;
}

.red-light:hover {
    background-color: #ff0000;
}