.lightbulb {
    display: inline-block;
    width: 9vw;
    height: 14vh;
    padding: 1%;
    border: 2px solid black;
    border-radius: 100%;
}

.green-light {
    background-color: #008000;
}

.green-light:hover {
    background-color: #76c92d;
}

.yellow-light {
    background-color: #ffff00;
}

.yellow-light:hover {
    background-color: #e7b416;
}

.red-light {
    background-color: #ff0000;
}

.red-light:hover {
    background-color: #cc3232;
}