.green-light {
    border: 2px solid black;
    border-radius: 100%;
    width: 100%;
    height: 250px;
    background-color: #33a532;
}

.green-light:hover {
    background-color: chartreuse;
}

.yellow-light {
    border: 2px solid black;
    border-radius: 100%;
    width: 100%;
    height: 250px;
    background-color: #f7b500;
}

.yellow-light:hover {
    background-color: gold;
}

.red-light {
    border: 2px solid black;
    border-radius: 100%;
    width: 100%;
    height: 250px;
    background-color: #bb1e10;
}

.red-light:hover {
    background-color: orangered;
}